@import "media-queries";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #666dd9;
  //background: #81c17b;
}

.container {
  max-width: 1400px;
  //margin: auto;
  margin: 20px auto;
}

//.container:first-child {
//  margin-top: 0;
//}

.container:last-child {
  margin-bottom: 0;
}

header {
  background: #5845ff;
  color: white;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #959bee;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.aside {
  background-color: #959bee;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.heading .header {
  font-weight: bold;
}

.input-container {
  font-size: 18px;
  background: #e3e3e3;
  margin: 20px auto;
  padding: 20px;
  max-width: 750px;
  /*min-height: 150px;*/
}

input {
  font-size: 18px;
}

.form-row {
  display: flex;
  padding: 10px 0;
}

.form-row label {
  flex: 1;
}

.form-row input {
  flex: 4;
}

.columns-container {
  background: #eaeaea;
  margin: 20px auto;
  padding: 22px 25px;
  display: flex;
}

.columns-container > div {
  padding-left: 15px;
  padding-right: 15px;
}

.main-column {
  flex: 2;
  order: 2;
}

.sidebar-one {
  flex: 1;
  order: 1;
}
.sidebar-two {
  flex: 1;
  order: 3;
}

.desc-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.desc-item {
  padding: 15px;
  width: 32%;
}

.desc-item:nth-child(1){background: lightskyblue}
.desc-item:nth-child(2){background: darkseagreen}
.desc-item:nth-child(3){background: mediumpurple}

.fixed-layouts-container {
  display: flex;
  background: #117ddb;
  justify-content: space-around;
  flex-wrap: wrap;
}

.num-item {
  font-size: 2em;
  color: #fff;
  background: #3e3e3e;
  padding: 30px;
}


footer {
  background: #1193db;
  color: #fff;
}

footer .desc {
  padding: 15px;
}